@page "/info"
<h3>Info</h3>

<div>
    <table>
        <tr>
            <th>Kontaktperson</th>
            <th>Email</th>
            <th>Tlf nr</th>
        </tr>
        <tr>
            <td>Karen Karensen</td>
            <td>JegerKaren@hehehexd.com</td>
            <td>69696969</td>
        </tr>
        
    </table>
</div>

@code {

}
