@page "/info"

<h3>Info</h3>
<html>
<div class="text-center">
    <!DOCTYPE html>
    <head>
        <style>
            table{
                border:, 1px solid black;
            }
        </style>
    </head>
    <body>
    <table>
        <tr>
            <th>Kontaktperson</th>
            <th>Email</th>
            <th>Tlf nr</th>
        </tr>
        <tr>
            <td>Karen Karensen</td>
            <td>JegerKaren@hehehexd.com</td>
            <td>69696969</td>
        </tr>

    </table>
    </body>
</div>
</html>
@{
}
